.nossosClientes {
  padding: 2.5rem 1rem 4.5rem 1rem;
  background: #f5f5f5;
}
.nossosClientes .containerClientes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 2.5rem;
  grid-row-gap: 2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 1008px) {
  .nossosClientes .containerClientes {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 7.5rem;
    grid-row-gap: 5rem;
    justify-items: center;
    padding: 0 15% !important;
  }
}
.nossosClientes .textsNossosClientes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}
.nossosClientes .textsNossosClientes .titleNossosClientes {
  color: #bababa;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.nossosClientes .textsNossosClientes .textNossosClientes {
  color: #1e1e1e;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nossosClientes .textsNossosClientes .textNossosClientes span {
  color: #e91034;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media screen and (min-width: 1008px) {
  .nossosClientes .textsNossosClientes {
    text-align: center;
  }
}
.nossosClientes .buttonDiv .button {
  border: 1px solid #fff;
  border-radius: 62.5rem;
  padding: 0.9375rem 1.5rem;
  background: #e91034;
  border: 1px solid #93133c;
  color: #fff;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media screen and (min-width: 1008px) {
  .nossosClientes .buttonDiv {
    padding: 5rem 0 0;
    position: relative;
    left: 47%;
  }
}
.nossosClientes .belasLetras {
  grid-column: 2;
}
@media screen and (min-width: 1008px) {
  .nossosClientes .belasLetras {
    grid-column: auto;
  }
}