@import "../../../../../app/styles/padroes/padroes.scss";

.sectionWhereDesk {
  padding: 7.5rem 0rem;
  background: $neutral-200;
  .texts {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 5rem;
    text-align: center;

    .titleWhere {
      color: $neutral-800;
      font-size: $fontSize8;
      font-style: normal;
      font-weight: $weight2;
      line-height: normal;

      > span {
        color: $color--brand-primary;
        font-weight: $weight5;
      }
    }
    .text {
      color: $neutral-900;
      font-size: $fontSize3;
      font-weight: $weight2;
      line-height: normal;
    }

    .identificacaoSection {
      color: $neutral-600;
      font-size: $fontSize4;
      font-style: normal;
      font-weight: $weight5;
      line-height: normal;
    }
  }

  .imagensWhere {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-gap: 0.5rem 0.5rem;
    justify-content: center;
  }
}
