.sectionContatoDesk {
  padding: 11.25rem 15%;
  background-color: #f5f5f5;
}
.sectionContatoDesk .containerDados {
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 0.08);
  border: 1px solid #fff;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5.5rem;
}
.sectionContatoDesk .containerDados .texts {
  color: #1e1e1e;
  font-style: normal;
  line-height: normal;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 40%;
}
.sectionContatoDesk .containerDados .texts .titleContact {
  color: #bababa;
  font-size: 1rem;
  font-weight: 500;
}
.sectionContatoDesk .containerDados .texts .form {
  gap: 0.75rem;
  display: flex;
  flex-direction: column;
}
.sectionContatoDesk .containerDados .texts .form .title {
  font-size: 3rem;
  font-weight: 400;
}
.sectionContatoDesk .containerDados .texts .form .title > span {
  color: #e91034;
  font-weight: 700;
}
.sectionContatoDesk .containerDados .texts .form .text {
  font-size: 1.5rem;
}
.sectionContatoDesk .group_form {
  flex-direction: column;
  display: flex;
  width: 33vw;
  gap: 1.5rem;
}
.sectionContatoDesk .group_form > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.sectionContatoDesk .group_form > div > label {
  color: #1e1e1e;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sectionContatoDesk .group_form input,
.sectionContatoDesk .group_form textarea:focus {
  outline: none;
}
.sectionContatoDesk .group_form .button {
  padding: 0.9375rem 2rem;
  border-radius: 62.5rem;
  border: 1px solid #93133c;
  background: #e91034;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
}
.sectionContatoDesk .group_form .button input {
  border: none;
  background: transparent;
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}
.sectionContatoDesk .items_form {
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  border: 1px solid #f3f3f3;
  background: #fff;
  color: #bababa;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}