@import "../../../../app/styles/padroes/padroes.scss";

.sectioMetodologia {
  padding: 2.5rem 1rem 0;
  font-style: normal;
  line-height: normal;
  background-color: $neutral-200;

  .texts {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .titleMetodologia {
      color: $neutral-600;
      font-size: $fontSize3;
      font-weight: $weight5;

      @media screen and (min-width: 1008px) {
        font-size: $fontSize4;
      }
    }
    .title {
      color: $neutral-800;
      font-size: $fontSize6;
      font-weight: $weight2;

      > span {
        color: $color--brand-primary;
        font-weight: $weight5;
      }

      @media screen and (min-width: 1008px) {
        font-size: $fontSize8;
      }
    }

    .text {
      color: $neutral-900;
      font-size: $fontSize2;
      font-weight: $weight2;

      @media screen and (min-width: 1008px) {
        font-size: $fontSize3;
      }
    }

    @media screen and (min-width: 1008px) {
      text-align: center;
    }
  }

  .containerSlider {
    display: flex;
    flex-direction: row;
    padding: 2.5rem 0rem;
    overflow-x: scroll;
    scrollbar-width: none;
    gap: 0.5rem;

    .itemsSlider1 {
      padding: 0rem 4.5rem;
      width: 9.25rem;
      height: 9.25rem;
      justify-content: center;
      background-color: $color--brand-primary;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      gap: 0.625rem;

      @media screen and (min-width: 1008px) {
        width: 14rem;
        height: 14rem;
        padding: 0rem 1.5rem;
      }

      .svg {
        border-radius: 1.25rem;
        border: 1px solid $pure-white;
        border-radius: 1.25rem;
        width: 2.5rem;
        height: 2.5rem;
        padding: 0.625rem;
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 1008px) {
          width: 5rem;
          height: 5rem;
          border-radius: 62.5rem;
          padding: 1.5rem;

          svg {
            width: 32px;
            height: 32px;
          }
        }
      }

      .textSlider {
        color: $pure-white;
        font-size: $fontSize3;
        font-style: normal;
        font-weight: $weight5;
        line-height: 1.5rem;
        text-align: center;
        width: 100px;
      }
    }

    .itemsSlider2 {
      padding: 0rem 4.5rem;
      width: 9.25rem;
      height: 9.25rem;
      justify-content: center;
      background-color: $color--brand-secundary;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      gap: 0.625rem;

      @media screen and (min-width: 1008px) {
        width: 14rem;
        height: 14rem;
        padding: 0rem 1.5rem;
      }

      .svg {
        border-radius: 1.25rem;
        border: 1px solid $pure-white;
        border-radius: 1.25rem;
        width: 2.5rem;
        height: 2.5rem;
        padding: 0.625rem;
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 1008px) {
          width: 5rem;
          height: 5rem;
          border-radius: 62.5rem;
          padding: 1.5rem;

          svg {
            width: 32px;
            height: 32px;
          }
        }
      }

      .textSlider {
        color: $pure-white;
        font-size: $fontSize3;
        font-style: normal;
        font-weight: $weight5;
        line-height: 1.5rem;
        text-align: center;
        width: 100px;
      }
    }

    .itemsSlider3 {
      padding: 0rem 4.5rem;
      width: 9.25rem;
      height: 9.25rem;
      justify-content: center;
      background-color: $color--brand-tertiary;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      gap: 0.625rem;

      @media screen and (min-width: 1008px) {
        width: 14rem;
        height: 14rem;
        padding: 0rem 1.5rem;
      }

      .svg {
        border-radius: 1.25rem;
        border: 1px solid $pure-white;
        border-radius: 1.25rem;
        width: 2.5rem;
        height: 2.5rem;
        padding: 0.625rem;
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 1008px) {
          width: 5rem;
          height: 5rem;
          border-radius: 62.5rem;
          padding: 1.5rem;

          svg {
            width: 32px;
            height: 32px;
          }
        }
      }

      .textSlider {
        color: $pure-white;
        font-size: $fontSize3;
        font-style: normal;
        font-weight: $weight5;
        line-height: 1.5rem;
        text-align: center;
        width: 100px;
      }
    }

    .itemsSlider4 {
      padding: 0rem 4.5rem;
      width: 9.25rem;
      height: 9.25rem;
      justify-content: center;
      background-color: $color--brand-quaternary;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      gap: 0.625rem;

      @media screen and (min-width: 1008px) {
        width: 14rem;
        height: 14rem;
        padding: 0rem 1.5rem;
      }

      .svg {
        border-radius: 1.25rem;
        border: 1px solid $pure-white;
        border-radius: 1.25rem;
        width: 2.5rem;
        height: 2.5rem;
        padding: 0.625rem;
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 1008px) {
          width: 5rem;
          height: 5rem;
          border-radius: 62.5rem;
          padding: 1.5rem;

          svg {
            width: 32px;
            height: 32px;
          }
        }
      }

      .textSlider {
        color: $pure-white;
        font-size: $fontSize3;
        font-style: normal;
        font-weight: $weight5;
        line-height: 1.5rem;
        text-align: center;
        width: 100px;
      }
    }

    .itemsSlider5 {
      padding: 0rem 4.5rem;
      width: 9.25rem;
      height: 9.25rem;
      justify-content: center;
      background-color: $color--brand-secondary-500;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      gap: 0.625rem;

      @media screen and (min-width: 1008px) {
        width: 14rem;
        height: 14rem;
        padding: 0rem 1.5rem;
      }

      .svg {
        border-radius: 1.25rem;
        border: 1px solid $pure-white;
        border-radius: 1.25rem;
        width: 2.5rem;
        height: 2.5rem;
        padding: 0.625rem;
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 1008px) {
          width: 5rem;
          height: 5rem;
          border-radius: 62.5rem;
          padding: 1.5rem;

          svg {
            width: 32px;
            height: 32px;
          }
        }
      }

      .textSlider {
        color: $pure-white;
        font-size: $fontSize3;
        font-style: normal;
        font-weight: $weight5;
        line-height: 1.5rem;
        text-align: center;
        width: 100px;
      }
    }

    @media screen and (min-width: 1008px) {
      justify-content: center;
    }
  }

  .slides::-webkit-scrollbar {
    display: none;
  }
}
