@import "../../../../../app/styles/padroes/padroes.scss";

.sectioComo {
  padding: 2.5rem 1rem 0;
  font-style: normal;
  line-height: normal;
  background-color: $neutral-200;
  text-align: center;

  .texts {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .titleComo {
      color: $neutral-600;
      font-size: $fontSize3;
      font-weight: $weight5;
    }

    .title {
      color: $neutral-800;
      font-size: $fontSize6;
      font-weight: $weight2;
      margin-bottom: 2rem;

      > span {
        color: $color--brand-primary;
        font-weight: $weight5;
      }

      @media screen and (min-width: 1008px) {
        font-size: $fontSize8;
        margin-bottom: 5rem;
        padding: 0 19rem 0;
      }
    }
  }

  .sectionPlanejamento {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    > div {
      flex-basis: 17.86vw;
      min-width: 200px;
    }

    > div:nth-child(4),
    > div:nth-child(5) {
      flex-basis: 48%;
      min-width: 400px;
      flex-basis: 43%;
      flex-direction: column;
      display: flex;
    }

    > div:nth-child(4) {
      // justify-content: end;
      align-items: end;
      // align-items: start;
      justify-content: start;

    }

    > div:nth-child(5) {
      justify-content: start;
    }

    .planejamento {
      padding: 1.5rem;
      display: flex;
      flex-direction: row;
      background: $pure-white;
      box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.12);
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      width: 17.86vw;

      .subtitulo {
        color: $color--brand-secondary-500;
        font-size: $fontSize2;
        font-style: normal;
        font-weight: $weight5;
        line-height: 1.5rem;
      }

      svg path {
        fill: $color--brand-secondary-500;
      }
    }

    .contentText {
      padding: 1.5rem;
      background-color: $color--brand-secondary-500;
      width: 17.86vw;

      > p {
        color: $pure-white;
        font-size: $fontSize2;
        font-style: normal;
        font-weight: $weight2;
        line-height: normal;
      }
    }
  }
}
