.sectioComo {
  padding: 2.5rem 1rem 0;
  font-style: normal;
  line-height: normal;
  background-color: #f5f5f5;
  text-align: center;
}
.sectioComo .texts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sectioComo .texts .titleComo {
  color: #bababa;
  font-size: 1rem;
  font-weight: 700;
}
.sectioComo .texts .title {
  color: #1e1e1e;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.sectioComo .texts .title > span {
  color: #e91034;
  font-weight: 700;
}
.sectioComo .sectionPlanejamento {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.sectioComo .sectionPlanejamento > div {
  flex-basis: 17.86vw;
  min-width: 200px;
}
.sectioComo .sectionPlanejamento > div:nth-child(4),
.sectioComo .sectionPlanejamento > div:nth-child(5) {
  flex-basis: 48%;
  min-width: 400px;
  flex-basis: 43%;
  flex-direction: column;
  display: flex;
}
.sectioComo .sectionPlanejamento > div:nth-child(4) {
  justify-content: end;
  align-items: end;
}
.sectioComo .sectionPlanejamento > div:nth-child(5) {
  justify-content: start;
}
.sectioComo .sectionPlanejamento .planejamento {
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  background: #fff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.12);
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 17.86vw;
}
.sectioComo .sectionPlanejamento .planejamento .subtitulo {
  color: #93133c;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
}
.sectioComo .sectionPlanejamento .planejamento svg path {
  fill: #93133c;
}
.sectioComo .sectionPlanejamento .contentText {
  padding: 1.5rem;
  background-color: #93133c;
  width: 17.86vw;
}
.sectioComo .sectionPlanejamento .contentText > p {
  color: #fff;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}