.banner {
  background-image: url("../../../../app/assets/png/bannerPrincipal.png");
  padding: 11rem 1rem 5rem 1rem;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 1008px) {
  .banner {
    background-image: url("../../../assets//svg/banner-desk.svg");
    height: 1026px;
  }
}
.banner .textsBanner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 1008px) {
  .banner .textsBanner {
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
  }
}
.banner .textsBanner .tituloBanner {
  color: #fff;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.banner .textsBanner .tituloBanner .emphasiTitle {
  font-weight: 700;
}
@media screen and (min-width: 1008px) {
  .banner .textsBanner .tituloBanner {
    font-size: 3rem;
    font-size: 3rem;
    text-overflow: ellipsis;
    white-space: pre-line;
    overflow: hidden;
  }
}
.banner .textsBanner .textBanner {
  color: #dbad83;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (min-width: 1008px) {
  .banner .textsBanner .textBanner {
    font-size: 1.5rem;
  }
}
.banner .button {
  border: 1px solid #fff;
  border-radius: 62.5rem;
  padding: 0.9375rem 1.5rem;
  background: #93133c;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  gap: 1rem;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
.banner .button .setaSaiba {
  display: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateX(0);
}
@media screen and (min-width: 1008px) {
  .banner .button {
    position: absolute;
    left: 50%;
    bottom: 4rem;
    width: 10rem;
    justify-content: center;
    transform: translateX(-50%);
  }
  .banner .button:hover {
    background-color: rgba(147, 19, 60, 0.9);
    width: 12rem;
  }
  .banner .button:hover .setaSaiba {
    display: block;
    opacity: 1;
    transform: translateX(5px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
}