@import "../../../../app/styles/padroes/padroes.scss";

.header {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1.25rem;
  position: fixed;
  top: 0;
  width: 100%;
  margin-left: -16px;
  transition: all 0.3s ease-in-out !important;
  z-index: 1;
  align-items: center;
}

.header.scrollDiferent {
  background: $pure-white !important;
  transition: all 0.3s ease-in-out !important;

  svg path {
    fill: $color--brand-primary;
  }

  .hamburguerSvg path {
    fill: $neutral-800;
  }
}
