@import "../../../../app/styles/padroes/padroes.scss";

.header {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1.25rem;
  position: fixed;
  top: 0;
  width: 100%;
  margin-left: -16px;
  transition: background-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out,
    transform 0.4s ease-in-out;
  z-index: 1;
  align-items: center;

  .itemsMenuDesk {
    display: none;
  }

  @media screen and (min-width: 1008px) {
    padding: 1.5rem 2rem;
    transition: background-color 0.5s ease, box-shadow 0.5s ease,
      transform 0.5s ease;

    .itemsMenuDesk {
      display: flex;
      padding: 0;

      .listItems {
        flex-direction: row;
        display: flex;
        gap: 2rem;

        @media screen and (min-width: 1008px) {
          font-size: $fontSize4;
          font-style: normal;
          font-weight: $weight2;
          line-height: 1.5rem;
          letter-spacing: 0.01125rem;
        }

        a {
          display: flex;
          flex-direction: row;
          color: $pure-white;
          transition: color 0.3s ease;

          &:hover {
            text-decoration: underline;
            text-decoration-color: $color--brand-secondary-500;
          }
        }
      }
    }

    svg {
      path {
        width: 159px !important;
        height: 162.84px !important;
      }
    }

    .buttonHamburguer {
      display: none;
    }
  }
}

.header.scrollDiferent {
  // Mobile
  align-items: center;
  background: $pure-white !important;
  transition: background-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out,
    transform 0.4s ease-in-out;

  svg path {
    fill: $color--brand-primary;
  }

  .svgIconeHeader {
    width: 54.68px;
    height: 56px;
  }

  .hamburguerSvg path {
    fill: $neutral-800;
  }

  // Desktop
  @media screen and (min-width: 1008px) {
    background: $pure-white !important;
    border-radius: 0.625rem;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(6px);
    margin: 0.75rem;
    width: 80vw;
    left: 9%;
    top: 20px;
    padding-inline: 30px;
    height: 5vw;

    .itemsMenuDesk {
      display: flex;
      padding: 0;

      .listItems {
        flex-direction: row;
        display: flex;
        gap: 2rem;

        a {
          display: flex;
          flex-direction: row;
          color: $neutral-800;
          transition: color 0.3s ease;

          &:hover {
            cursor: pointer;
            color: $color--brand-secondary-500;
          }
        }
      }
    }

    svg {
      // padding: 0.5rem 0;
      path {
        width: 54.679px;
        height: 56px;
      }
    }

    .buttonHamburguer {
      display: none;
    }
  }
}
