.header {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1.25rem;
  position: fixed;
  top: 0;
  width: 100%;
  margin-left: -16px;
  transition: background-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out, transform 0.4s ease-in-out;
  z-index: 1;
  align-items: center;
}
.header .itemsMenuDesk {
  display: none;
}
@media screen and (min-width: 1008px) {
  .header {
    padding: 1.5rem 2rem;
    transition: background-color 0.5s ease, box-shadow 0.5s ease, transform 0.5s ease;
  }
  .header .itemsMenuDesk {
    display: flex;
    padding: 0;
  }
  .header .itemsMenuDesk .listItems {
    flex-direction: row;
    display: flex;
    gap: 2rem;
  }
}
@media screen and (min-width: 1008px) and (min-width: 1008px) {
  .header .itemsMenuDesk .listItems {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.01125rem;
  }
}
@media screen and (min-width: 1008px) {
  .header .itemsMenuDesk .listItems a {
    display: flex;
    flex-direction: row;
    color: #fff;
    transition: color 0.3s ease;
  }
  .header .itemsMenuDesk .listItems a:hover {
    text-decoration: underline;
    text-decoration-color: #fff;
  }
  .header svg path {
    width: 159px !important;
    height: 162.84px !important;
  }
  .header .buttonHamburguer {
    display: none;
  }
}

.header.scrollDiferent {
  align-items: center;
  background: #fff !important;
  transition: background-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out, transform 0.4s ease-in-out;
}
.header.scrollDiferent svg path {
  fill: #e91034;
}
.header.scrollDiferent .svgIconeHeader {
  width: 54.68px;
  height: 56px;
}
.header.scrollDiferent .hamburguerSvg path {
  fill: #1e1e1e;
}
@media screen and (min-width: 1008px) {
  .header.scrollDiferent {
    background: #fff !important;
    border-radius: 0.625rem;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.05);
    -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
    margin: 0.75rem;
    width: 80vw;
    left: 9%;
    top: 20px;
    padding-inline: 30px;
    height: 5vw;
  }
  .header.scrollDiferent .itemsMenuDesk {
    display: flex;
    padding: 0;
  }
  .header.scrollDiferent .itemsMenuDesk .listItems {
    flex-direction: row;
    display: flex;
    gap: 2rem;
  }
  .header.scrollDiferent .itemsMenuDesk .listItems a {
    display: flex;
    flex-direction: row;
    color: #1e1e1e;
    transition: color 0.3s ease;
  }
  .header.scrollDiferent .itemsMenuDesk .listItems a:hover {
    cursor: pointer;
    color: #93133c;
  }
  .header.scrollDiferent svg path {
    width: 54.679px;
    height: 56px;
  }
  .header.scrollDiferent .buttonHamburguer {
    display: none;
  }
}